| Sebastián Chocho | Product Owner | Scrum Master | Developer Full Stack | UI/UX Designer | 

| Evelyn Valverde | Full-Stack Developer | QA Engineer | 

| Aidan Carpio | Full-Stack Developer | UI/UX Designer | 
